services:
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    working_dir: /workspace/apps/web
    ports:
      - '3000:3000'
    volumes:
      - ./:/workspace
      - web_root_node_modules:/workspace/node_modules
      - web_app_node_modules:/workspace/apps/web/node_modules
      - web_next:/workspace/apps/web/.next
    env_file:
      - ./apps/web/.env.local
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
    depends_on:
      - api
    networks:
      - lifebalance

  api:
    command: bun run --watch src/index.ts
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    working_dir: /workspace/apps/api
    ports:
      - '8787:8787'
    volumes:
      - ./:/workspace
      - api_root_node_modules:/workspace/node_modules
      - api_app_node_modules:/workspace/apps/api/node_modules
    env_file:
      - ./apps/api/.env
    environment:
      - FRONTEND_URL=http://localhost:3000
    networks:
      - lifebalance

networks:
  lifebalance:
    driver: bridge

volumes:
  web_root_node_modules:
  web_app_node_modules:
  web_next:
  api_root_node_modules:
  api_app_node_modules:
